* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #000;
  color: white;
  font-family: MyFont;
  padding: 20px 1.5%;
  display: flex;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url('./font/Poppins-SemiBold.ttf') format('woff');
}

@font-face {
  font-family: 'MySmallFont';
  src: local('MySmallFont'), url('./font/Poppins-Regular.ttf') format('woff');
}

.leftside {
  width: 60%;
  /* min-height: 465px; */
  text-align: left;
  position: relative;
}

.leftside>div {
  display: flex;
}

.leftside>div>div {
  width: 50%;
}

.title {
  font-size: 90px;
  margin: 0;
  line-height: 110px;
}

button {
  font-family: MySmallFont;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  border-style: hidden;
}

button:hover {
  background-color: #384ad3;
}

.btn-mint {
  background-color: #4f4f4f;
  margin: 25px 0;
  width: 345px;
  height: 120px;
}

.mint-price {
  padding-top: 1.5vw;
}

.btn-wallet {
  width: 200px;
  height: 50px;
  background-color: #615952;
  position: absolute;
  bottom: 0px;
}

.links {
  display: flex;
}

.links a {
  font-size: 60px;
  margin-left: 30px;
}

.links .fa-twitter {
  color: #55adee;
}

.links .fa-discord {
  color: #5865f2;
}

.channel {
  padding-top: 10px;
}
.channel div {
  max-width: 100%;
}

.rightside {
  width: 40%;
}

.cards div {
  width: 50%;
  float: right;
  padding: 10px;
}

.cards::after {
  content: "";
  clear: both;
  display: table;
}

.cards img {
  max-width: 100%;
  border-radius: 12px;
}

@media only screen and (max-width: 1440px) {
  .title {
    font-size: 72px;
    line-height: 90px;
  }
  .btn-mint {
    max-width: 275px;
    max-height: 90px;
  }
  .links a {
    font-size: 45px;
  }
  .links img {
    width: 48px;
  }
  .mint-price h2 {
    font-size: 20px;
  }
  .btn-wallet {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1280px) {
  .title {
    font-size: 60px;
    line-height: 90px;
  }
  .btn-mint {
    max-width: 235px;
    max-height: 80px;
  }
  .links a {
    font-size: 40px;
  }
  .links img {
    width: 40px;
  }
  .channel {
    padding-top: 6px;
  }
  .btn-wallet {
    width: 135px;
    height: 36px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 54px;
    line-height: 72px;
  }
  .btn-mint {
    max-width: 210px;
    max-height: 72px;
    font-size: 14px;
  }
  .links a {
    font-size: 36px;
    margin-left: 24px;
  }
  .btn-wallet {
    width: 120px;
    height: 32px;
    font-size: 10px;
  }
  .mint-price h2 {
    font-size: 16px;
    margin-top: 2vw;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 42px;
    line-height: 56px;
  }
  .btn-mint {
    max-width: 164px;
    max-height: 56px;
    font-size: 12px;
    border-radius: 6px;
  }
  .links a {
    font-size: 28px;
  }
  .btn-wallet {
    width: 96px;
    height: 26px;
    font-size: 8px;
    border-radius: 4px;
  }
  .mint-price h2 {
    font-size: 14px;
    margin-top: 2.5vw;
  }
  .channel img {
    width: 30px;
  }
}

@media only screen and (max-width: 640px) {
  .App {
    display: block;
  }
  .leftside, .rightside {
    width: 100%;
  }
  .leftside {
    padding: 10px;
  }
  .title {
    font-size: 42px;
    line-height: 56px;
  }
  .btn-mint {
    max-width: 164px;
    max-height: 56px;
    font-size: 12px;
    border-radius: 6px;
  }
  .links a {
    font-size: 28px;
  }
  .btn-wallet {
    width: 96px;
    height: 26px;
    font-size: 8px;
    border-radius: 4px;
  }
  .mint-price h2 {
    font-size: 14px;
    margin-top: 2.5vw;
  }
  .channel img {
    width: 30px;
  }
  .mint {
    text-align: center;
  }
  .wallet {
    display: flex;
    justify-content: center;
  }
  .links {
    justify-content: right;
  }
  .mint-price h2 {
    margin-top: 4vw;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 36px;
    line-height: 44px;
  }
  .btn-mint {
    max-width: 150px;
    max-height: 48px;
    border-radius: 5px;
  }
  .links a {
    font-size: 24px;
    margin-left: 20px;
  }
  .btn-wallet {
    width: 96px;
    height: 26px;
    font-size: 8px;
    border-radius: 4px;
  }
  .mint-price h2 {
    font-size: 14px;
    margin-top: 2.5vw;
  }
  .channel img {
    width: 26px;
  }
  .mint-price h2 {
    font-size: 12px;
    margin-top: 6vw;
  }
}